{
  "payment": {
    "ccform": {
      "icons": {
        "AE": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/ae.png",
          "width": 46,
          "height": 30,
          "title": "American Express"
        },
        "VI": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/vi.png",
          "width": 46,
          "height": 30,
          "title": "Visa"
        },
        "MC": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/mc.png",
          "width": 46,
          "height": 30,
          "title": "MasterCard"
        },
        "DI": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/di.png",
          "width": 46,
          "height": 30,
          "title": "Discover"
        },
        "JCB": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/jcb.png",
          "width": 46,
          "height": 30,
          "title": "JCB"
        },
        "SM": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/sm.png",
          "width": 46,
          "height": 30,
          "title": "Switch/Maestro"
        },
        "DN": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/dn.png",
          "width": 46,
          "height": 30,
          "title": "Diners"
        },
        "SO": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/so.png",
          "width": 46,
          "height": 30,
          "title": "Solo"
        },
        "MI": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/mi.png",
          "width": 46,
          "height": 30,
          "title": "Maestro International"
        },
        "MD": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/md.png",
          "width": 46,
          "height": 30,
          "title": "Maestro Domestic"
        },
        "HC": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/hc.png",
          "width": 46,
          "height": 30,
          "title": "Hipercard"
        },
        "ELO": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/elo.png",
          "width": 46,
          "height": 30,
          "title": "Elo"
        },
        "AU": {
          "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/Magento_Payment/images/cc/au.png",
          "width": 46,
          "height": 30,
          "title": "Aura"
        }
      }
    },
    "checkmo": {
      "mailingAddress": "",
      "payableTo": null
    },
    "paypalExpress": {
      "paymentAcceptanceMarkHref": "https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside",
      "paymentAcceptanceMarkSrc": "https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-medium.png",
      "isContextCheckout": false,
      "inContextConfig": []
    },
    "paypalIframe": [],
    "paypalBillingAgreement": {
      "agreements": [],
      "transportName": "ba_agreement_id"
    },
    "iframe": {
      "timeoutTime": {
        "payflowpro": 30000
      },
      "dateDelim": {
        "payflowpro": ""
      },
      "cardFieldsMap": {
        "payflowpro": []
      },
      "source": {
        "payflowpro": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/blank.html"
      },
      "controllerName": {
        "payflowpro": "checkout_flow"
      },
      "cgiUrl": {
        "payflowpro": "https://payflowlink.paypal.com"
      },
      "placeOrderUrl": {
        "payflowpro": "https://magento2latest.local/paypal/transparent/requestSecureToken/"
      },
      "saveOrderUrl": {
        "payflowpro": "https://magento2latest.local/checkout/onepage/saveOrder/"
      },
      "expireYearLength": {
        "payflowpro": 2
      }
    },
    "braintree_cc_vault": {
      "cvvVerify": false
    },
    "braintree_paypal": {
      "isActive": false,
      "title": "PayPal",
      "isAllowShippingAddressOverride": true,
      "merchantName": null,
      "merchantCountry": null,
      "locale": "en_US",
      "paymentAcceptanceMarkSrc": "https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-medium.png",
      "vaultCode": "braintree_paypal_vault",
      "paymentIcon": {
        "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/PayPal_Braintree/images/paypal.png",
        "width": null,
        "height": null
      },
      "style": {
        "shape": "rect",
        "size": "responsive",
        "color": "gold",
        "layout": "horizontal",
        "tagline": "false",
        "label": "paypal"
      },
      "isRequiredBillingAddress": "0"
    },
    "braintree_paypal_credit": {
      "isActive": false,
      "title": "PayPal Credit",
      "isAllowShippingAddressOverride": true,
      "merchantName": null,
      "merchantCountry": null,
      "locale": "en_US",
      "paymentAcceptanceMarkSrc": "https://www.paypalobjects.com/webstatic/en_US/i/buttons/ppc-acceptance-medium.png",
      "paymentIcon": {
        "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/PayPal_Braintree/images/paypal.png",
        "width": null,
        "height": null
      },
      "style": {
        "shape": "rect",
        "size": "responsive",
        "color": "gold",
        "layout": "horizontal",
        "tagline": "false",
        "label": "paypal"
      },
      "isRequiredBillingAddress": "0"
    },
    "braintree_paypal_paylater": {
      "isActive": false,
      "title": "PayPal PayLater",
      "isAllowShippingAddressOverride": true,
      "merchantName": null,
      "merchantCountry": null,
      "locale": "en_US",
      "paymentAcceptanceMarkSrc": "https://www.paypalobjects.com/webstatic/en_US/i/buttons/ppc-acceptance-medium.png",
      "paymentIcon": {
        "url": "https://magento2latest.local/static/version1683035515/frontend/Magento/luma/en_US/PayPal_Braintree/images/paypal.png",
        "width": null,
        "height": null
      },
      "isMessageActive": false,
      "style": {
        "shape": "rect",
        "size": "responsive",
        "color": "gold",
        "layout": "horizontal",
        "tagline": "false",
        "label": "paypal"
      },
      "message": {
        "layout": "text",
        "logo": "inline",
        "logo_position": "left",
        "text_color": "black"
      },
      "isRequiredBillingAddress": "0"
    }
  },
  "formKey": "67aIfIhJGMPLKgDz",
  "customerData": {
    "website_id": "1",
    "email": "voronov.inc@gmail.com",
    "group_id": "1",
    "store_id": "1",
    "created_at": "2023-02-18 17:45:57",
    "updated_at": "2023-05-01 19:49:13",
    "disable_auto_group_change": "0",
    "created_in": "Webshop",
    "prefix": null,
    "firstname": "Ruslan",
    "middlename": null,
    "lastname": "Voronov",
    "suffix": null,
    "dob": "2023-04-22",
    "default_billing": "2",
    "default_shipping": "2",
    "taxvat": null,
    "confirmation": null,
    "gender": "2",
    "addresses": {
      "2": {
        "id": "2",
        "customer_id": "2",
        "company": null,
        "prefix": null,
        "firstname": "Ruslan",
        "lastname": "Voronov",
        "middlename": null,
        "suffix": null,
        "street": [
          "6 Rue Felon"
        ],
        "city": "Antibes",
        "region": {
          "region": "Alpes-Maritimes",
          "region_code": "6",
          "region_id": 187
        },
        "region_id": "187",
        "postcode": "06160",
        "country_id": "FR",
        "telephone": "+380950950325",
        "fax": null,
        "default_billing": true,
        "default_shipping": true,
        "inline": "Ruslan Voronov, 6 Rue Felon, Antibes, Alpes-Maritimes 06160, France",
        "custom_attributes": [],
        "extension_attributes": {},
        "vat_id": null
      }
    },
    "id": "2",
    "extension_attributes": {
      "is_subscribed": false
    }
  },
  "quoteData": {
    "entity_id": "13",
    "store_id": 1,
    "created_at": "2023-03-02 14:11:08",
    "updated_at": "2023-03-03 11:47:14",
    "converted_at": null,
    "is_active": "1",
    "is_virtual": 0,
    "is_multi_shipping": "0",
    "items_count": "2",
    "items_qty": "2.0000",
    "orig_order_id": "0",
    "store_to_base_rate": "0.0000",
    "store_to_quote_rate": "0.0000",
    "base_currency_code": "EUR",
    "store_currency_code": "EUR",
    "quote_currency_code": "EUR",
    "grand_total": "168.0000",
    "base_grand_total": "168.0000",
    "checkout_method": null,
    "customer_id": 2,
    "customer_tax_class_id": null,
    "customer_group_id": 1,
    "customer_email": "voronov.inc@gmail.com",
    "customer_prefix": null,
    "customer_firstname": "Ruslan",
    "customer_middlename": null,
    "customer_lastname": "Voronov",
    "customer_suffix": null,
    "customer_dob": "2023-04-22",
    "customer_note": null,
    "customer_note_notify": "1",
    "customer_is_guest": "0",
    "applied_rule_ids": "2",
    "reserved_order_id": null,
    "password_hash": null,
    "coupon_code": null,
    "global_currency_code": "EUR",
    "base_to_global_rate": "1.0000",
    "base_to_quote_rate": "1.0000",
    "customer_taxvat": null,
    "customer_gender": 2,
    "subtotal": "148.0000",
    "base_subtotal": "148.0000",
    "subtotal_with_discount": "148.0000",
    "base_subtotal_with_discount": "148.0000",
    "is_changed": "1",
    "trigger_recollect": "0",
    "ext_shipping_info": null,
    "gift_message_id": null,
    "is_persistent": "0",
    "custom_address": "",
    "delivery_date": "0000-00-00 00:00:00",
    "delivery_comment": "",
    "items": [
      {},
      {}
    ],
    "extension_attributes": {
      "shipping_assignments": [
        {}
      ]
    }
  },
  "quoteItemData": [
    {
      "item_id": "27",
      "quote_id": "13",
      "created_at": "2023-03-02 14:11:08",
      "updated_at": "2023-03-03 11:47:14",
      "product_id": "254",
      "store_id": 1,
      "parent_item_id": null,
      "is_virtual": "0",
      "sku": "MH13-S-Green",
      "name": "Marco Lightweight Active Hoodie",
      "description": null,
      "applied_rule_ids": "2",
      "additional_data": null,
      "is_qty_decimal": false,
      "no_discount": "0",
      "weight": "1.000000",
      "qty": 1,
      "price": "74.0000",
      "base_price": "74.0000",
      "custom_price": null,
      "discount_percent": "0.0000",
      "discount_amount": "0.0000",
      "base_discount_amount": "0.0000",
      "tax_percent": "0.0000",
      "tax_amount": "0.0000",
      "base_tax_amount": "0.0000",
      "row_total": "74.0000",
      "base_row_total": "74.0000",
      "row_total_with_discount": "0.0000",
      "row_weight": "0.0000",
      "product_type": "configurable",
      "base_tax_before_discount": null,
      "tax_before_discount": null,
      "original_custom_price": null,
      "redirect_url": null,
      "base_cost": null,
      "price_incl_tax": "74.0000",
      "base_price_incl_tax": "74.0000",
      "row_total_incl_tax": "74.0000",
      "base_row_total_incl_tax": "74.0000",
      "discount_tax_compensation_amount": "0.0000",
      "base_discount_tax_compensation_amount": "0.0000",
      "gift_message_id": null,
      "free_shipping": "0",
      "weee_tax_applied": null,
      "weee_tax_applied_amount": null,
      "weee_tax_applied_row_amount": null,
      "weee_tax_disposition": null,
      "weee_tax_row_disposition": null,
      "base_weee_tax_applied_amount": null,
      "base_weee_tax_applied_row_amnt": null,
      "base_weee_tax_disposition": null,
      "base_weee_tax_row_disposition": null,
      "has_children": true,
      "qty_options": {
        "243": {}
      },
      "product": {
        "entity_id": "254",
        "attribute_set_id": "9",
        "type_id": "configurable",
        "sku": "MH13",
        "has_options": "1",
        "required_options": "0",
        "created_at": "2023-02-03 14:19:17",
        "updated_at": "2023-02-03 14:19:17",
        "is_featured": null,
        "price": "74.000000",
        "name": "Marco Lightweight Active Hoodie",
        "small_image": "/m/h/mh13-blue_main_2.jpg",
        "thumbnail": "/m/h/mh13-blue_main_2.jpg",
        "url_key": "marco-lightweight-active-hoodie",
        "msrp_display_actual_price_type": "0",
        "status": "1",
        "visibility": "4",
        "tax_class_id": "2",
        "sale": "0",
        "store_id": 1,
        "request_path": "marco-lightweight-active-hoodie.html",
        "extension_attributes": {},
        "customer_group_id": "1",
        "final_price": null
      },
      "tax_class_id": "2",
      "has_error": false,
      "product_option": {},
      "options": [
        {
          "value": "S",
          "label": "Size"
        },
        {
          "value": "Green",
          "label": "Color"
        }
      ],
      "thumbnail": "https://magento2latest.local/media/catalog/product/cache/87de611d13bb4f0b68add824dd915eb5/m/h/mh13-blue_main_2.jpg",
      "message": ""
    },
    {
      "item_id": "33",
      "quote_id": "13",
      "created_at": "2023-03-03 11:34:58",
      "updated_at": "2023-03-03 11:47:14",
      "product_id": "254",
      "store_id": 1,
      "parent_item_id": null,
      "is_virtual": "0",
      "sku": "MH13-S-Lavender",
      "name": "Marco Lightweight Active Hoodie",
      "description": null,
      "applied_rule_ids": "2",
      "additional_data": null,
      "is_qty_decimal": false,
      "no_discount": "0",
      "weight": "1.000000",
      "qty": 1,
      "price": "74.0000",
      "base_price": "74.0000",
      "custom_price": null,
      "discount_percent": "0.0000",
      "discount_amount": "0.0000",
      "base_discount_amount": "0.0000",
      "tax_percent": "0.0000",
      "tax_amount": "0.0000",
      "base_tax_amount": "0.0000",
      "row_total": "74.0000",
      "base_row_total": "74.0000",
      "row_total_with_discount": "0.0000",
      "row_weight": "0.0000",
      "product_type": "configurable",
      "base_tax_before_discount": null,
      "tax_before_discount": null,
      "original_custom_price": null,
      "redirect_url": null,
      "base_cost": null,
      "price_incl_tax": "74.0000",
      "base_price_incl_tax": "74.0000",
      "row_total_incl_tax": "74.0000",
      "base_row_total_incl_tax": "74.0000",
      "discount_tax_compensation_amount": "0.0000",
      "base_discount_tax_compensation_amount": "0.0000",
      "gift_message_id": null,
      "free_shipping": "0",
      "weee_tax_applied": null,
      "weee_tax_applied_amount": null,
      "weee_tax_applied_row_amount": null,
      "weee_tax_disposition": null,
      "weee_tax_row_disposition": null,
      "base_weee_tax_applied_amount": null,
      "base_weee_tax_applied_row_amnt": null,
      "base_weee_tax_disposition": null,
      "base_weee_tax_row_disposition": null,
      "has_children": true,
      "qty_options": {
        "244": {}
      },
      "product": {
        "entity_id": "254",
        "attribute_set_id": "9",
        "type_id": "configurable",
        "sku": "MH13",
        "has_options": "1",
        "required_options": "0",
        "created_at": "2023-02-03 14:19:17",
        "updated_at": "2023-02-03 14:19:17",
        "is_featured": null,
        "price": "74.000000",
        "name": "Marco Lightweight Active Hoodie",
        "small_image": "/m/h/mh13-blue_main_2.jpg",
        "thumbnail": "/m/h/mh13-blue_main_2.jpg",
        "url_key": "marco-lightweight-active-hoodie",
        "msrp_display_actual_price_type": "0",
        "status": "1",
        "visibility": "4",
        "tax_class_id": "2",
        "sale": "0",
        "store_id": 1,
        "request_path": "marco-lightweight-active-hoodie.html",
        "extension_attributes": {},
        "customer_group_id": "1",
        "final_price": null,
        "_cache_instance_configurable_attributes": {},
        "_cache_instance_used_attributes": {
          "93": {},
          "144": {}
        },
        "_cache_instance_used_product_attributes": {
          "93": {},
          "144": {}
        },
        "_cache_instance_used_product_attribute_ids": [
          "144",
          "93"
        ]
      },
      "tax_class_id": "2",
      "has_error": false,
      "product_option": {},
      "options": [
        {
          "value": "S",
          "label": "Size"
        },
        {
          "value": "Lavender",
          "label": "Color"
        }
      ],
      "thumbnail": "https://magento2latest.local/media/catalog/product/cache/87de611d13bb4f0b68add824dd915eb5/m/h/mh13-blue_main_2.jpg",
      "message": ""
    }
  ],
  "quoteMessages": {
    "27": "",
    "33": ""
  },
  "isCustomerLoggedIn": true,
  "selectedShippingMethod": {
    "carrier_code": "flatrate",
    "method_code": "flatrate",
    "carrier_title": "Flat Rate",
    "method_title": "Fixed",
    "amount": 20,
    "base_amount": "20.0000",
    "available": true,
    "error_message": false,
    "price_excl_tax": 20,
    "price_incl_tax": 20
  },
  "storeCode": "default",
  "isGuestCheckoutAllowed": true,
  "isCustomerLoginRequired": false,
  "registerUrl": "https://magento2latest.local/customer/account/create/",
  "checkoutUrl": "https://magento2latest.local/checkout/",
  "defaultSuccessPageUrl": "https://magento2latest.local/checkout/onepage/success/",
  "pageNotFoundUrl": "https://magento2latest.local/checkout/noroute/",
  "forgotPasswordUrl": "https://magento2latest.local/customer/account/forgotpassword/",
  "staticBaseUrl": "https://magento2latest.local/static/version1683035515/",
  "priceFormat": {
    "pattern": "€%s",
    "precision": 2,
    "requiredPrecision": 2,
    "decimalSymbol": ".",
    "groupSymbol": ",",
    "groupLength": 3,
    "integerRequired": false
  },
  "basePriceFormat": {
    "pattern": "€%s",
    "precision": 2,
    "requiredPrecision": 2,
    "decimalSymbol": ".",
    "groupSymbol": ",",
    "groupLength": 3,
    "integerRequired": false
  },
  "postCodes": {
    "AD": {
      "pattern_1": {
        "example": "AD100",
        "pattern": "^AD\\d{3}$"
      }
    },
    "AM": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "AR": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      },
      "pattern_2": {
        "example": "A1234BCD",
        "pattern": "^[a-zA-z]{1}[0-9]{4}[a-zA-z]{3}$"
      }
    },
    "AS": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "AT": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "AU": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "AX": {
      "pattern_1": {
        "example": "22123",
        "pattern": "^22\\d{3}$"
      }
    },
    "AZ": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      },
      "pattern_2": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "BA": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "BB": {
      "pattern_1": {
        "example": "BB12345",
        "pattern": "^(BB\\d{5})?$"
      }
    },
    "BD": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "BE": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "BG": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "BH": {
      "pattern_1": {
        "example": "323",
        "pattern": "^((1[0-2]|[1-9])\\d{2})?$"
      }
    },
    "BM": {
      "pattern_1": {
        "example": "MA 02",
        "pattern": "^[A-Z]{2}[ ]?[A-Z0-9]{2}$"
      }
    },
    "BN": {
      "pattern_1": {
        "example": "AB1234",
        "pattern": "^[a-zA-z]{2}[0-9]{4}$"
      }
    },
    "BR": {
      "pattern_1": {
        "example": "12345678",
        "pattern": "^[0-9]{8}$"
      },
      "pattern_2": {
        "example": "12345-678",
        "pattern": "^[0-9]{5}\\-[0-9]{3}$"
      }
    },
    "BY": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "CA": {
      "pattern_1": {
        "example": "A1B 2C3",
        "pattern": "^[a-zA-z]{1}[0-9]{1}[a-zA-z]{1}\\s[0-9]{1}[a-zA-z]{1}[0-9]{1}$"
      },
      "pattern_2": {
        "example": "A1B2C3",
        "pattern": "^[a-zA-z]{1}[0-9]{1}[a-zA-z]{1}[0-9]{1}[a-zA-z]{1}[0-9]{1}$"
      },
      "pattern_3": {
        "example": "A1B",
        "pattern": "^[a-zA-z]{1}[0-9]{1}[a-zA-z]{1}$"
      }
    },
    "CC": {
      "pattern_1": {
        "example": "6799",
        "pattern": "^6799$"
      }
    },
    "CH": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "CK": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "CL": {
      "pattern_1": {
        "example": "1234567",
        "pattern": "^\\d{7}$"
      }
    },
    "CN": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "CR": {
      "pattern_1": {
        "example": "12345 or 123-1234",
        "pattern": "^\\d{4,5}|\\d{3}-\\d{4}$"
      }
    },
    "CS": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "CU": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "CV": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "CX": {
      "pattern_1": {
        "example": "6798",
        "pattern": "^6798$"
      }
    },
    "CY": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "CZ": {
      "pattern_1": {
        "example": "123 45",
        "pattern": "^[0-9]{3}\\s[0-9]{2}$"
      }
    },
    "DE": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "DK": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "DO": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "DZ": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "EC": {
      "pattern_1": {
        "example": "A1234B or AB123456 or 123456",
        "pattern": "^([A-Z]\\d{4}[A-Z]|(?:[A-Z]{2})?\\d{6})?$"
      }
    },
    "EE": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "EG": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "ES": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "ET": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "FI": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "FK": {
      "pattern_1": {
        "example": "FIQQ 1ZZ",
        "pattern": "^FIQQ 1ZZ$"
      }
    },
    "FM": {
      "pattern_1": {
        "example": "96941",
        "pattern": "^(9694[1-4])([ \\-]\\d{4})?$"
      }
    },
    "FO": {
      "pattern_1": {
        "example": "123",
        "pattern": "^\\d{3}$"
      }
    },
    "FR": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "GB": {
      "pattern_1": {
        "example": "AB12 3CD",
        "pattern": "^[a-zA-Z]{2}[0-9]{2}\\s?[0-9]{1}[a-zA-Z]{2}$"
      },
      "pattern_2": {
        "example": "A1B 2CD",
        "pattern": "^[a-zA-Z]{1}[0-9]{1}[a-zA-Z]{1}\\s?[0-9]{1}[a-zA-Z]{2}$"
      },
      "pattern_3": {
        "example": "AB1 2CD",
        "pattern": "^[a-zA-Z]{2}[0-9]{1}\\s?[0-9]{1}[a-zA-Z]{2}$"
      },
      "pattern_4": {
        "example": "AB1C 2DF",
        "pattern": "^[a-zA-Z]{2}[0-9]{1}[a-zA-Z]{1}\\s?[0-9]{1}[a-zA-Z]{2}$"
      },
      "pattern_5": {
        "example": "A12 3BC",
        "pattern": "^[a-zA-Z]{1}[0-9]{2}\\s?[0-9]{1}[a-zA-Z]{2}$"
      },
      "pattern_6": {
        "example": "A1 2BC",
        "pattern": "^[a-zA-Z]{1}[0-9]{1}\\s?[0-9]{1}[a-zA-Z]{2}$"
      }
    },
    "GE": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "GF": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "GG": {
      "pattern_1": {
        "example": "GY10 2AB",
        "pattern": "^[gG][yY]([1-9]|10)\\s?[0-9]{1}[a-zA-Z]{2}$"
      }
    },
    "GH": {
      "pattern_1": {
        "example": "GA18400",
        "pattern": "^[A-Z][A-Z0-9]\\d{3,5}$"
      }
    },
    "GL": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "GN": {
      "pattern_1": {
        "example": "123",
        "pattern": "^\\d{3}$"
      }
    },
    "GP": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "GR": {
      "pattern_1": {
        "example": "123 45",
        "pattern": "^[0-9]{3}\\s[0-9]{2}$"
      }
    },
    "GS": {
      "pattern_1": {
        "example": "SIQQ 1ZZ",
        "pattern": "^SIQQ 1ZZ$"
      }
    },
    "GT": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "GU": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "GW": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "HM": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "HN": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^(?:\\d{5})?$"
      }
    },
    "HR": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "HT": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "HU": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "IC": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "ID": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "IL": {
      "pattern_1": {
        "example": "6687865",
        "pattern": "^[0-9]{7}$"
      }
    },
    "IM": {
      "pattern_1": {
        "example": "IM1 1AD",
        "pattern": "^IM\\d[\\dA-Z]?[ ]?\\d[ABD-HJLN-UW-Z]{2}$"
      }
    },
    "IN": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "IO": {
      "pattern_1": {
        "example": "BBND 1ZZ",
        "pattern": "^BBND 1ZZ$"
      }
    },
    "IS": {
      "pattern_1": {
        "example": "123",
        "pattern": "^[0-9]{3}$"
      }
    },
    "IQ": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "IT": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "JE": {
      "pattern_1": {
        "example": "JE2 4PJ",
        "pattern": "^[jJ][eE][1-5]{1}\\s?[0-9]{1}[a-zA-Z]{2}$"
      }
    },
    "JO": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "JP": {
      "pattern_1": {
        "example": "123-4567",
        "pattern": "^[0-9]{3}-[0-9]{4}$"
      },
      "pattern_2": {
        "example": "1234567",
        "pattern": "^[0-9]{7}$"
      }
    },
    "KE": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "KG": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "KR": {
      "pattern_1": {
        "example": "123-456",
        "pattern": "^[0-9]{3}-[0-9]{3}$"
      },
      "pattern_2": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "KH": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "KW": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "KZ": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "LA": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "LB": {
      "pattern_1": {
        "example": "1234 5678",
        "pattern": "^(\\d{4}([ ]?\\d{4})?)?$"
      }
    },
    "LI": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "LK": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "LT": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "LU": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "LV": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "MA": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "MC": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "MD": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "ME": {
      "pattern_1": {
        "example": "81101",
        "pattern": "^8\\d{4}$"
      }
    },
    "MG": {
      "pattern_1": {
        "example": "123",
        "pattern": "^[0-9]{3}$"
      }
    },
    "MH": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "MK": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "MN": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "MP": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "MS": {
      "pattern_1": {
        "example": "MSR1250",
        "pattern": "^MSR\\s?\\d{4}$"
      }
    },
    "MQ": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "MT": {
      "pattern_1": {
        "example": "ABC 1234",
        "pattern": "^[a-zA-Z]{3}\\s[0-9]{4}$"
      },
      "pattern_2": {
        "example": "ABC 123",
        "pattern": "^[a-zA-Z]{3}\\s[0-9]{3}$"
      },
      "pattern_3": {
        "example": "ABC 12",
        "pattern": "^[a-zA-Z]{3}\\s[0-9]{2}$"
      }
    },
    "MU": {
      "pattern_1": {
        "example": "A1201 or 80110",
        "pattern": "^([AR]|[0-9])\\d{4,5}$"
      }
    },
    "MV": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      },
      "pattern_2": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "MX": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "MY": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "NC": {
      "pattern_1": {
        "example": "98800",
        "pattern": "^988\\d{2}$"
      }
    },
    "NE": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "NF": {
      "pattern_1": {
        "example": "2899",
        "pattern": "^2899$"
      }
    },
    "NG": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^(\\d{6})?$"
      }
    },
    "NI": {
      "pattern_1": {
        "example": "22500",
        "pattern": "^\\d{5}$"
      }
    },
    "NL": {
      "pattern_1": {
        "example": "1234 AB/1234AB",
        "pattern": "^[1-9][0-9]{3}\\s?[a-zA-Z]{2}$"
      }
    },
    "NO": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "NP": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "NZ": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "OM": {
      "pattern_1": {
        "example": "PC 123 or 123",
        "pattern": "^(PC )?\\d{3}$"
      }
    },
    "PA": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "PF": {
      "pattern_1": {
        "example": "98701",
        "pattern": "^987\\d{2}$"
      }
    },
    "PG": {
      "pattern_1": {
        "example": "123",
        "pattern": "^\\d{3}$"
      }
    },
    "PH": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "PK": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "PL": {
      "pattern_1": {
        "example": "12-345",
        "pattern": "^[0-9]{2}-[0-9]{3}$"
      }
    },
    "PM": {
      "pattern_1": {
        "example": "97500",
        "pattern": "^9[78]5\\d{2}$"
      }
    },
    "PN": {
      "pattern_1": {
        "example": "PCRN 1ZZ",
        "pattern": "^PCRN 1ZZ$"
      }
    },
    "PR": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "PT": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      },
      "pattern_2": {
        "example": "1234-567",
        "pattern": "^[0-9]{4}-[0-9]{3}$"
      }
    },
    "PW": {
      "pattern_1": {
        "example": "96939 or 96940",
        "pattern": "^(?:96939|96940)$"
      }
    },
    "PY": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "RE": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "RO": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "RS": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^\\d{6}$"
      }
    },
    "RU": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "SA": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "SE": {
      "pattern_1": {
        "example": "123 45",
        "pattern": "^[0-9]{3}\\s[0-9]{2}$"
      }
    },
    "SG": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "SI": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "SK": {
      "pattern_1": {
        "example": "123 45",
        "pattern": "^[0-9]{3}\\s[0-9]{2}$"
      }
    },
    "SH": {
      "pattern_1": {
        "example": "ASCN 1ZZ",
        "pattern": "^(ASCN|STHL) 1ZZ$"
      }
    },
    "SJ": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "SM": {
      "pattern_1": {
        "example": "47890",
        "pattern": "^4789\\d$"
      }
    },
    "SN": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "SO": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "SZ": {
      "pattern_1": {
        "example": "A123",
        "pattern": "^[a-zA-Z]{1}[0-9]{3}$"
      }
    },
    "TC": {
      "pattern_1": {
        "example": "TKCA 1ZZ",
        "pattern": "^TKCA 1ZZ$"
      }
    },
    "TH": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "TJ": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "TM": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "TN": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "TR": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "TT": {
      "pattern_1": {
        "example": "120110",
        "pattern": "^\\d{6}$"
      }
    },
    "TW": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      },
      "pattern_2": {
        "example": "123",
        "pattern": "^[0-9]{3}$"
      }
    },
    "UA": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "US": {
      "pattern_1": {
        "example": "12345-6789",
        "pattern": "^[0-9]{5}\\-[0-9]{4}$"
      },
      "pattern_2": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "UY": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "UZ": {
      "pattern_1": {
        "example": "123456",
        "pattern": "^[0-9]{6}$"
      }
    },
    "VA": {
      "pattern_1": {
        "example": "00120",
        "pattern": "^00120$"
      }
    },
    "VE": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^\\d{4}$"
      }
    },
    "VI": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "WF": {
      "pattern_1": {
        "example": "98601",
        "pattern": "^986\\d{2}$"
      }
    },
    "XK": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    },
    "XY": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^[0-9]{5}$"
      }
    },
    "YT": {
      "pattern_1": {
        "example": "97601",
        "pattern": "^976\\d{2}$"
      }
    },
    "ZA": {
      "pattern_1": {
        "example": "1234",
        "pattern": "^[0-9]{4}$"
      }
    },
    "ZM": {
      "pattern_1": {
        "example": "12345",
        "pattern": "^\\d{5}$"
      }
    }
  },
  "imageData": {
    "27": {
      "src": "https://magento2latest.local/media/catalog/product/cache/c65ab853465856a2458f289f29444e36/m/h/mh13-blue_main_2.jpg",
      "alt": "Marco Lightweight Active Hoodie",
      "width": 150,
      "height": 150
    },
    "33": {
      "src": "https://magento2latest.local/media/catalog/product/cache/c65ab853465856a2458f289f29444e36/m/h/mh13-blue_main_2.jpg",
      "alt": "Marco Lightweight Active Hoodie",
      "width": 150,
      "height": 150
    }
  },
  "totalsData": {
    "subtotal": "148.0000",
    "base_subtotal": "148.0000",
    "subtotal_with_discount": "148.0000",
    "base_subtotal_with_discount": "148.0000",
    "tax_amount": "0.0000",
    "base_tax_amount": "0.0000",
    "shipping_amount": "20.0000",
    "base_shipping_amount": "20.0000",
    "shipping_tax_amount": "0.0000",
    "base_shipping_tax_amount": "0.0000",
    "discount_amount": "0.0000",
    "base_discount_amount": "0.0000",
    "grand_total": 168,
    "base_grand_total": "168.0000",
    "shipping_discount_amount": "0.0000",
    "base_shipping_discount_amount": "0.0000",
    "subtotal_incl_tax": "148.0000",
    "shipping_incl_tax": "20.0000",
    "base_shipping_incl_tax": "20.0000",
    "total_segments": [
      {
        "code": "subtotal",
        "title": "Subtotal",
        "value": "148.0000",
        "area": null,
        "extension_attributes": []
      },
      {
        "code": "shipping",
        "title": "Shipping & Handling (Flat Rate - Fixed)",
        "value": "20.0000",
        "area": null,
        "extension_attributes": []
      },
      {
        "code": "tax",
        "title": "Tax",
        "value": "0.0000",
        "area": "taxes",
        "extension_attributes": {
          "tax_grandtotal_details": []
        }
      },
      {
        "code": "grand_total",
        "title": "Grand Total",
        "value": "168.0000",
        "area": "footer",
        "extension_attributes": []
      }
    ],
    "coupon_code": null,
    "items": [
      {
        "item_id": "27",
        "name": "Marco Lightweight Active Hoodie",
        "qty": 1,
        "price": "74.0000",
        "base_price": "74.0000",
        "discount_percent": "0.0000",
        "discount_amount": "0.0000",
        "base_discount_amount": "0.0000",
        "tax_percent": "0.0000",
        "tax_amount": "0.0000",
        "base_tax_amount": "0.0000",
        "row_total": "74.0000",
        "base_row_total": "74.0000",
        "row_total_with_discount": "0.0000",
        "price_incl_tax": "74.0000",
        "base_price_incl_tax": "74.0000",
        "row_total_incl_tax": "74.0000",
        "base_row_total_incl_tax": "74.0000",
        "weee_tax_applied": null,
        "weee_tax_applied_amount": null,
        "options": "[{\"value\":\"S\",\"label\":\"Size\"},{\"value\":\"Green\",\"label\":\"Color\"}]"
      },
      {
        "item_id": "33",
        "name": "Marco Lightweight Active Hoodie",
        "qty": 1,
        "price": "74.0000",
        "base_price": "74.0000",
        "discount_percent": "0.0000",
        "discount_amount": "0.0000",
        "base_discount_amount": "0.0000",
        "tax_percent": "0.0000",
        "tax_amount": "0.0000",
        "base_tax_amount": "0.0000",
        "row_total": "74.0000",
        "base_row_total": "74.0000",
        "row_total_with_discount": "0.0000",
        "price_incl_tax": "74.0000",
        "base_price_incl_tax": "74.0000",
        "row_total_incl_tax": "74.0000",
        "base_row_total_incl_tax": "74.0000",
        "weee_tax_applied": null,
        "weee_tax_applied_amount": null,
        "options": "[{\"value\":\"S\",\"label\":\"Size\"},{\"value\":\"Lavender\",\"label\":\"Color\"}]"
      }
    ],
    "items_qty": "2.0000",
    "base_currency_code": "EUR",
    "quote_currency_code": "EUR",
    "extension_attributes": []
  },
  "shippingPolicy": {
    "isEnabled": false,
    "shippingPolicyContent": ""
  },
  "useQty": true,
  "activeCarriers": [
    "flatrate",
    "customshipping"
  ],
  "originCountryCode": "US",
  "paymentMethods": [],
  "autocomplete": "off",
  "displayBillingOnPaymentMethod": true,
  "maxCartItemsToDisplay": 10,
  "cartUrl": "https://magento2latest.local/checkout/cart/",
  "captcha": {
    "payment_processing_request": {
      "isCaseSensitive": false,
      "imageHeight": 50,
      "imageSrc": "",
      "refreshUrl": "https://magento2latest.local/captcha/refresh/",
      "isRequired": false,
      "timestamp": 1683035554,
      "formId": "payment_processing_request"
    },
    "sales_rule_coupon_request": {
      "isCaseSensitive": false,
      "imageHeight": 50,
      "imageSrc": "",
      "refreshUrl": "https://magento2latest.local/captcha/refresh/",
      "isRequired": false,
      "timestamp": 1683035554,
      "formId": "sales_rule_coupon_request"
    },
    "user_login": {
      "isCaseSensitive": false,
      "imageHeight": 50,
      "imageSrc": "",
      "refreshUrl": "https://magento2latest.local/captcha/refresh/",
      "isRequired": false,
      "timestamp": 1683035554,
      "formId": "user_login"
    }
  },
  "isDisplayShippingPriceExclTax": true,
  "isDisplayShippingBothPrices": false,
  "reviewShippingDisplayMode": "excluding",
  "reviewItemPriceDisplayMode": "excluding",
  "reviewTotalsDisplayMode": "excluding",
  "includeTaxInGrandTotal": true,
  "isFullTaxSummaryDisplayed": true,
  "isZeroTaxDisplayed": false,
  "reloadOnBillingAddress": false,
  "defaultCountryId": "FR",
  "defaultRegionId": null,
  "defaultPostcode": "*",
  "isDisplayPriceWithWeeeDetails": false,
  "isDisplayFinalPrice": false,
  "isWeeeEnabled": "0",
  "isIncludedInSubtotal": false,
  "getIncludeWeeeFlag": false,
  "cardinal": {
    "environment": "production",
    "requestJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJkOTBiMDg3Yi1jYWM3LTQzYzctYWRjZi03OTIzMzVlYzljZTUiLCJpc3MiOiIiLCJpYXQiOjE2ODMwMzU1NTQsIk9yZ1VuaXRJZCI6IiIsIlBheWxvYWQiOnsiT3JkZXJEZXRhaWxzIjp7Ik9yZGVyTnVtYmVyIjoiMTMiLCJBbW91bnQiOjE2ODAwLCJDdXJyZW5jeUNvZGUiOiJFVVIifX0sIk9iamVjdGlmeVBheWxvYWQiOnRydWV9.98rb_jJP5LwhFMbaZ529l-0Uk9i1PO7jWS_n1XRYx3o"
  },
  "websiteCode": "base",
  "storePickupApiSearchTermDelimiter": ":",
  "vault": [],
  "persistenceConfig": {
    "isRememberMeCheckboxVisible": false,
    "isRememberMeCheckboxChecked": true
  },
  "recaptcha_paypal": false,
  "captchaPayments": {
    "co-payment-form": {
      "isCaseSensitive": false,
      "imageHeight": 50,
      "imageSrc": "",
      "refreshUrl": "https://magento2latest.local/captcha/refresh/",
      "isRequired": false,
      "timestamp": 1683035554,
      "formId": "co-payment-form"
    }
  },
  "checkoutAgreements": {
    "isEnabled": false
  },
  "recaptcha_braintree": false
}
